#div1{
    width: 200px;
    height: 270px;
    margin:auto;
    background-color: gainsboro;
    border-radius: 10px;
    margin-top: auto;
}
table{margin: auto;}
button{
    width:40px;height: 36px;border-radius: 7px;
}
button:hover{
    background-color: gray;
}
input{margin:17px; text-align: right;border-radius: 7px;
}
h2{
    text-align: center;
}
